@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.platforms {
    @include text(20px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    h6 {
        // display: inline-block;
        width: 120px;
        color: $second-font-color;
    }
    .platforms__list {
        display: flex;
        gap: 16px;
    }
}