@import 'src/styles/color.variables.scss';
@import 'src/styles/mixins.scss';

.wrapper {
    @include flexGapDirection(0,column);
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: 600px) {
        height: 100px;
    }
}
.blackblur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black -15%, transparent 90%);
    opacity: 0.8;
}
.image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.menu {
    @include text(18px,500);
    @include flexGapDirection(6px, column);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $main-font-color;
    padding: 10px;
    @media (max-width: 600px) {
        font-size: 14px;
    }
    @media (max-width: 480px) {
        font-size: 10px;
    }
}
