@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.title {
    min-width: 300px;
    cursor: pointer;
    span {
        color: $active-font-color;
    }
    @media (max-width: 600px) {
        font-size: 20px;
        min-width: 160px;
    }
}