@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.main {
    @include flexGapDirection(16px, column);
    min-height: 1000px;
    max-width: 100%;
    padding: 0 128px;
    @media (max-width:1400px) {
        padding: 0 64px;
    }
    @media (max-width: 880px) {
        padding: 0 32px;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: 1199px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1024px) {
        gap: 16px;
    }
    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 991px) {
        gap: 8px;
    }
}

.showmore {
    width: 100%;
    margin: 16px 0;
    display: flex;
    justify-content: center;

    button {
        padding: 8px 16px;
        @include text;
        background: none;
        outline: none;

        &:hover {
            outline: 2px solid $active-font-color;
            border-radius: 4px;
        }
    }
}