@import 'src/styles/mixins.scss';
@import 'src/styles/color.variables.scss';

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-radius: 16px;
    border: 1px solid $manatee;
    .main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .title {
            @include text(24px);
        }
        .imageWrapper {
            position: relative;
            width: 320px;
            height: 120px;
            border-radius: 8px;
            overflow: hidden;
        }
    }
    .controls {
        @include text(18px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .remove {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        
    }
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 36px;
        .main {
            .imageWrapper {
                width: 100%;
            }
        }
        .controls {
            flex-direction: row;
        }
    }
}