@import 'src/styles/mixins.scss';

.description {
    grid-area: right;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 1199px) {
        max-width: 280px;
    }
    @media (max-width: 1024px) {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-rows: 320px 1fr 50px 100px;
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr 50px 100px;
    }
}

.banner {
    width: 100%;
    min-height: 160px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.info {
    @include text(20px);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    white-space: normal;
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgb(73, 73, 73)
    }
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgb(73, 73, 73)
    }
}
.info__title {
    @include text(24px, 600);
    width: 100%;
    display: flex;
    justify-content: center;
    color: $active-font-color;
}
.info__content {
    overflow-y: auto;
    max-height: 400px;
}
.price {
    @include text;
    display: flex;
    justify-content: flex-end;
}
.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .button__add {
        width: 100%;
        height: 48px;
        @include text(18px);
        border: 1px solid $main-font-color;
        border-radius: 8px;
    }

    .button__fav {
        @extend .button__add
    }
}